{{#each this}}
<div class="card">
  <img src="{{img}}" alt="" class="img" />
  <h3 class="name">{{name}}</h3>
  <div>
    <p class="description">Процесор: {{processor}}</p>
    <p class="description">Обʼєм памяті: {{storage}}</p>
  </div>
  <div class="buy-button">
    <a href="" class="description">Купити {{price}}</a>
  </div>
</div>
{{/each}}